[Unit]
Description=Unmanic - Library Optimiser
After=network-online.target
StartLimitInterval=200
StartLimitBurst=3

[Service]
Type=simple
Environment="HOME_DIR=/opt/unmanic"
WorkingDirectory=/opt/unmanic
ExecStart=%h/.local/bin/unmanic
Restart=always
RestartSec=30

[Install]
WantedBy=default.target
